apiVersion: v1
kind: Service
metadata:
  name: {{ include "central-scan-listener.fullname" . }}
  labels:
    {{- include "central-scan-listener.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector:
    app: {{ include "central-scan-listener.name" . }}
